/Practical 1 - Tip Calculator.pdf
/Practical 2 - Shipping Cost Calculator.pdf
/Practical 3 - Prime Number Checker.pdf
/Practical 4 - Two Player Tic Tac Toe Game.pdf
/Practical 5 - A Wizards Inventory.pdf
/Practical 6 - FIFA World Cup Stats.pdf
/Practical 7 - Monthly Sales Reporting.pdf
/Practical 9
/Practical Semester Test.pdf
/Practical1.pdf
/Practise
/PRT2030 Practicals.pdf
/Solutions